<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
      <!-- Render day of the week in format set in app.js kindOfDay -->
      <h1><%= kindOfDay %></h1>

      <form action="/" method="post">
        <input type="text" name="newItem" placeholder="To do item">
        <button type="submit" name="button">Add To List</button>
      </form>

      <ul>
        <!-- Add list item for each item added to Todo list by user via ejs listItems -->
        <% for (let i=0; i < listItems.length; i++) { %>
          <li><%= listItems[i] %></li>
        <% } %>
      </ul>

  </body>
</html>
